.boxed-view {
    background-color: $boxed-view-overlay-bg;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        background-color: $boxed-view-bg;
        padding: 2.4rem;
        text-align: center;
        width: 30rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }
}